version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
    time: "05:00"
  groups:
    MongoDB:
      patterns:
        - "MongoDB.Bson"
        - "MongoDB.Driver"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
    time: "05:00"
